@use "../../../../styles/index" as *;

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--secondary-color) 70%,
    var(--secondary-color) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 18px 36px;
}

.volanta {
  font-size: 16px;
  align-self: center;
  font-weight: 500;

  @include respond(tablet)  { font-size: 24px; }
  @include respond(desktop) { font-size: 24px; }
}

.titulo {
  color: #ffffff;
  font-size: clamp(32px, 5vw, 60px);
  text-align: center;

  @include respond(tablet) { font-size: 2.25rem; }
}
