.root    { color: var(--text-color, #252523); font-family: var(--font-inter, Inter, sans-serif); }
.link    { color: var(--text-color, #252523); font-family: var(--font-inter, Inter, sans-serif); &:hover { text-decoration: underline; color: var(--primary-color, #af0437); } }
.current { color: var(--text-color, #252523); font-family: var(--font-inter, Inter, sans-serif); font-weight: 300; text-decoration: none; &:hover { color: var(--primary-color, #af0437); } }
