@use "../../../../styles/index.scss" as *;

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  position: relative;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  padding: 5px;
  padding-left: 16px;
  min-height: 64px;

  &:last-child { border-bottom: none; }
}

.feedUi {
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 8px;
  color: var(--primary-color, #4bac48);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;


  &::after {
    content: '';
    flex: 1;
    width: 2px;
    background: currentColor;
      opacity: 0.3;
  }
}
